.posted_job_main_container {
  /* background-color: #EDF6FF; */
  display: flex;
  height: 100%;
  background: linear-gradient(180deg, #303f60 35%, #edf6ff 10%);
  min-height: 100vh;
}
.bread_crumb {
  color: #ffffff;
  font-size: 12px;
  margin-top: 20px;
}
.modal-content {
  padding: 20px 22px;
  border-radius: 20px;
  box-shadow: 0 30px 36px #557da526;
}
.modal_heading {
  font-size: 20px;
}
.separator {
  height: 0.5px;
  background-color: #a9afbc;
  margin-top: 20px;
}
.items_div {
  background-color: #eeeff2;
  border-radius: 5px;
  height: 480px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.item_body {
  background-color: #ffffff;
  padding: 8px;
  border: 1px solid #303f6080;
  border-radius: 5px;
}
.card_top_detail {
  display: flex;
  padding-bottom: 10px;
}
.modal-dialog {
  width: 45% !important;
  max-width: 45% !important;
}
.no_applicant_div {
  color: #cbcfd7;
  margin: auto;
  margin-top: 150px;
}
